---
---

@import "{{ site.theme }}";

/* customizations here */
.highlighter-rouge {
    color: #ff8;
}

.language-bash.highlighter-rouge {
    background-color: #555;
}

.language-bash.highlighter-rouge .highlight code {
    .gp {
        color: limegreen;
    }

    .k {
        color: #39add1;
    }

    .o {
        color: hotpink;
    }

    .s1 {
        color: orange;
    }

}
